.header {
  text-align: center;
  padding: 2rem;
  font-size: large;
}
.header div h2 {
font-size: 2em;
}

.header1StDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.price {
  font-size: 30px;
}

.productTitle {
  font-size: larger;
}

.submitBtn {
  margin: auto;
  width: 10rem;
}

.stateClass {
  width: 15rem;
  margin-right: 245px;
}